.side-bar
  .user-name
    .user-name__box
      .user-name__box__name masa
      .user-name__box__icon
        .user-name__box__icon__new-group
          = link_to "/groups/new" do
            = icon('fas', 'edit')
        .user-name__box__icon__edit-user
          = link_to "/users/edit" do
            =  icon('fas', 'cog')
        
  .group-list
    .group-list__groups
      .group-list__groups__name あああ
      .group-list__groups__message まだメッセージはありません
    .group-list__groups
      .group-list__groups__name あああ
      .group-list__groups__message まだメッセージはありません

    